/* prosty reset stylów i style dla całości */
html, body {
	background: #dedede;
	border: 0;
	box-sizing: border-box;
	font-family: 'Jaldi', sans-serif;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

/* nawigancja */
nav {
	display: flex;
	justify-content: flex-end;
}

a {
	color: #041f52;
	font-weight: bold;
	padding-left: .5rem;
	padding-right: 1rem;
	padding-top: .5rem;
	text-decoration: none;
	text-transform: uppercase;
}

/* nagłówki */
h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin-top: 1rem;
}
h4 {
	border: .03rem solid #222;
	border-radius: .3rem;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2rem;
	margin-top: .5rem;
	margin-bottom: 0;
	padding-bottom: .1rem;
	transition-duration: 3s;
}

/* podtytuł */
.subTitle {
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
}

/* zasadnicze elementy struktury strony */
.wraper {
	background-image: background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: .2rem solid #041f52;
	border-radius: .5rem; 
	box-shadow: .2rem .2rem .2rem .2rem grey;
	margin: 1rem auto;
	max-width: 40rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 1rem;
}

.pictureDiv {
	border: .03rem solid #222;
	border-radius: .3rem; 
	box-shadow: .2rem .2rem .2rem .2rem #444;
	cursor: pointer;
	height: 12rem;
	margin-bottom: 1.4rem;
	width: 19rem;
}

.pictureDiv img {
	height: inherit;
	position: absolute;
	transition: opacity 1.5s ease;
	width: inherit;
}

.pictureDiv img:hover {
	opacity: 0;
}

.contentDiv {
	border: .03rem solid #222;
	border-radius: .3rem; 
	box-shadow: .2rem .2rem .2rem .2rem #444;
	height: 12rem;
	padding: 0 .6rem;
	transition-duration: 3s;
	width: 18rem;
}

.contentDiv p {
	font-size: 1.2rem;
	line-height: .8rem;
	margin-bottom: 1rem;
	margin-top: .8rem;
}

.contentDiv h3 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin-top: .8rem;
	margin-bottom: .8rem;
}

.contentDiv:hover {
	background-color: #eee;
}

.nightForecast {
	display: none;
}

/* rozwijanie szczegółowej prognozy na dzień */
#hourlyForecast {
	cursor: pointer;
}

/* rozwijana prognoza godzinowa */
.additionalInfo {
	display: none;
	line-height: 1.4rem;
	padding: 0 .8rem;
	text-align: center;
}

.visible {
	display: block;
}

h4:hover {
	background-color: #041f52; 
	cursor: pointer;
	color: #fff;
}

h4:after {
	color: #000;
	content: "+";
    font-size: 1.2rem;
    float: right;
    margin-right: 5rem;
}

.openContent {
	display: none;
}

.openContent p {
	font-size: 1.2rem;
	line-height: 1.2rem;
}

.active {
	background-color: #041f52; 
	color: #fff;
}

.active:after {
	color: #fff;
	content: "-";
	font-size: 1.2rem;
}

/* header i footer */
.wraper > p {
	text-align: center;
}

p > a {
	padding: 0;
	text-transform: none;
}

.headerPara {
	text-transform: uppercase;
}
